.linkContainer {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #00a5e1;
  color: #00a5e1;
  min-height: 48px;
  width: 100%;
  border-radius: 10px;

  transition: all 0.2s ease;

  &:hover {
    background-color: #00a5e1;
    color: #fff;
    cursor: pointer;
  }
}
